body {
  margin: 0;
  box-sizing: border-box;
}
body h1 {
  height: 50px;
  margin: 0;
  padding: 0 0 16px 5px;
  font-size: xxx-large;
  letter-spacing: 5px;
}
body h2 {
  text-align: center;
  margin-top: 0;
}
body h3 {
  text-align: center;
  color: #1162b7;
  margin: 15px 0 10px 0;
}
body p {
  font-size: small;
  margin: 0;
}
body .wrapper {
  width: 940px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, minmax(18px, auto));
  margin: 0 auto;
  /* box-sizing: border-box; */
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
body .wrapper header {
  grid-column: 1/13;
}
body .wrapper header ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  height: 40px;
  background-color: #8fc73e;
}
body .wrapper header ul li {
  list-style-type: none;
}
body .wrapper header ul li .navButton {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding-left: 30px;
  padding-right: 20px;
}
body .wrapper .art1 {
  grid-column: 1/8;
  margin: 10px 10px 10px 0;
  padding: 0 0 35px 10px;
  border: 10px solid #e5e5e6;
}
body .wrapper .art1 .pArt1 {
  margin: 0 7px 10px 0;
}
body .wrapper .art1 a {
  text-decoration: none;
  color: #6599d0;
  font-size: small;
  font-weight: bold;
}
body .wrapper .imgContent {
  grid-column: 8/13;
  border: 10px solid #e5e5e6;
  margin: 10px 0 10px 10px;
  background-image: url("https://www.m24.ru/b/d/nBkSUhL2hlQinsmxPqzJrMCqzJ3z8Zii1SLFh_fH_nKUPXuaDyXTjHou4MVO6BCVoZKf9GqVe5Q_CPawk214LyWK9G1N5ho=0o4fczjtsMqVpcSoWU3Q9Q.jpg");
  background-size: cover;
}
body .wrapper .separation {
  grid-column: 1/13;
  height: 18px;
  background-color: #8fc73e;
}
body .wrapper .art2 {
  grid-column: 1/4;
  padding: 0 15px 10px 0;
}
body .wrapper .art3 {
  grid-column: 4/7;
  padding: 0 7px 10px 7px;
}
body .wrapper .art4 {
  grid-column: 7/10;
  padding: 0 7px 10px 7px;
}
body .wrapper .art5 {
  grid-column: 10/13;
  padding: 0 0 10px 15px;
}
body .wrapper .art6, body .wrapper .art7, body .wrapper .art8 {
  margin-top: 10px;
  padding: 10px 0 8px 5px;
}
body .wrapper .art6 {
  grid-column: 1/5;
  background-color: #e5e5e6;
}
body .wrapper .art7 {
  grid-column: 5/9;
  background-color: #e5e5e6;
}
body .wrapper .art8 {
  grid-column: 9/13;
  background-color: #e5e5e6;
}
body .wrapper footer {
  grid-column: 1/13;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
