$main-green-color: #8fc73e;
$gray-color: #e5e5e6;
$border-style: 10px solid $gray-color;

body {
    margin: 0;
    box-sizing: border-box;
    h1 {
        height: 50px;
        margin: 0;
        padding: 0 0 16px 5px;
        font-size: xxx-large;
        letter-spacing: 5px;
    }
    h2 {
        text-align: center;
        margin-top: 0;
    }
    h3 {
        text-align: center;
        color: #1162b7;
        margin: 15px 0 10px 0;
    }
    p {
        font-size: small;
        margin: 0;
    }
    .wrapper {
        width: 940px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, minmax(18px, auto));
        margin: 0 auto;
        /* box-sizing: border-box; */
        font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
        header {
            grid-column: 1/13;
            ul {
                display: flex;
                align-items: center;
                padding-left: 0;
                margin: 0;
                height: 40px;
                background-color: $main-green-color;
                li {
                    list-style-type: none;
                    .navButton {
                        text-decoration: none;
                        font-weight: bold;
                        color: black;
                        padding-left: 30px;
                        padding-right: 20px;
                    }
                }
            }
        }
        .art1 {
            grid-column: 1/8;
            margin: 10px 10px 10px 0;
            padding: 0 0 35px 10px;
            border: $border-style;
            .pArt1 {
                margin: 0 7px 10px 0;
            }
            a {
                text-decoration: none;
                color: #6599d0;
                font-size: small;
                font-weight: bold;
            }
        }
        .imgContent {
            grid-column: 8/13;
            border: $border-style;
            margin: 10px 0 10px 10px;
            background-image: url("https://www.m24.ru/b/d/nBkSUhL2hlQinsmxPqzJrMCqzJ3z8Zii1SLFh_fH_nKUPXuaDyXTjHou4MVO6BCVoZKf9GqVe5Q_CPawk214LyWK9G1N5ho=0o4fczjtsMqVpcSoWU3Q9Q.jpg");
            background-size: cover;
        }
        .separation {
            grid-column: 1/13;
            height: 18px;
            background-color: $main-green-color;
        }
        .art2 {
            grid-column: 1/4;
            padding: 0 15px 10px 0;
        }
        .art3 {
            grid-column: 4/7;
            padding: 0 7px 10px 7px;
        }
        .art4 {
            grid-column: 7/10;
            padding: 0 7px 10px 7px;
        }
        .art5 {
            grid-column: 10/13;
            padding: 0 0 10px 15px;
        }
        .art6, .art7, .art8 {
            margin-top: 10px;
            padding: 10px 0 8px 5px;
        }
        .art6 {
            grid-column: 1/5;
            background-color: $gray-color;
        }
        .art7 {
            grid-column: 5/9;
            background-color: $gray-color;
        }
        .art8 {
            grid-column: 9/13;
            background-color: $gray-color;
        }
        footer {
            grid-column: 1/13;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
